.header {
  margin: 92px 24px 86px;
  font-size: 18px;
  line-height: 1.35;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__menu {
  padding-left: 26px;
}

.header__menu_list {
  text-underline-offset: 4px;
  display: flex;
  gap: 35px;
  justify-content: space-between;
  list-style: circle;
  text-transform: lowercase;
}

.header__menu_item_active {
  list-style: none;
}

.header__menu_item_active .header__menu_link {
  text-decoration: none;
}

.header__logo_image {
  width: 138px;
}

.header__address {
  text-underline-offset: 4px;
  font-style: normal;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  width: 240px;
  margin-left: 150px;
  margin-right: 25px;
}

.cover {
  margin-bottom: 179px;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
}

.overlay {
  background-color: #000;
  inset: 0 0 0 0;
  opacity: 0.6;
  position: absolute;
}

.cover__title {
  z-index: 1;
  color: #fff;
  display: flex;
  text-transform: uppercase;
  line-height: 1.15;
  font-size: 100px;
  font-weight: 700;
  flex-direction: column;
  padding: 165px 50px 130px 50px;
  letter-spacing: 32px;
}

.aligned_text_left {
  display: flex;
  gap: 28px;
}

.aligned_text_center {
  display: flex;
  padding-left: 286px;
  padding-top: 13px;
  gap: 28px;
}

.aligned_text_right {
  display: flex;
  padding-left: 586px;
  padding-top: 5px;
  gap: 26px;
}

.cover__description {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px 51px 78px;
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
}

.cover__description_text {
  word-spacing: 19px;
}

.bet_button {
  background-color: transparent;
  border: 1px solid white;
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  height: 51px;
  width: 256px;
}

.lots {
  margin: 0 24px 146px;
}

.lots__heading {
  color: #000;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  padding-left: 40px;
  margin-bottom: 27px;
}

.lots__card_list {
  list-style: none;
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.lots__card_list_item {
  width: 334px;
  min-height: 563px;
  flex-grow: 1;
}

.card_link {
  text-decoration: none;
  display: block;
  height: 100%;
  
}

.card {
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card__title {
  text-underline-offset: 4px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  padding: 51px 40px 0;
  z-index: 2;
  color: #fff;
  font-size: 22px;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: 700;
}

.card__text {
  padding: 0 40px 48px;
  z-index: 2;
  width: 334px;
  color: #fff;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__look_more_link {
  text-underline-offset: 5px;
  text-decoration-thickness: 1px;
  font-size: 20px;
  line-height: 1.174;
  margin-left: 40px;
}

.about {
  margin: 0 24px 180px;
  display: grid;
  grid-template-columns: 334px 1fr;
  grid-template-rows: 595px;
  gap: 25px;
}

.about__logo {
  display: flex;
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 180px;
  justify-content: center;
  margin: 35px 72px 0 47px;
}

.about__logo_image {
  width: 62%;
}

.about__title {
  line-height: 1.174;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 136px 0 100px 0;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  line-height: 1.2;
  font-size: 20px;
  font-weight: 400;
}

.footer {
  margin: 0 50px 88px;
  font-size: 18px;
  line-height: 1.35;
  display: flex;
  justify-content: space-between;
}

.footer__address {
  text-underline-offset: 4px;
  font-style: normal;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  width: 240px;
}

.footer__menu_list {
  text-underline-offset: 4px;
  list-style: none;
  text-align: center;
  text-transform: lowercase;
  line-height: 1.173;
}

.footer__menu_link_active {
  text-decoration: none;
}

.footer__social_list {
  list-style: none;
  display: flex;
  gap: 48px;
}

.footer__social_link {
  width: 100%;
}

.footer__social_icon {
  width: 48px;
}
